{% extends 'base.html.twig' %}

{% block title %}Page création playlist{% endblock %}

{% block body %}

    <h1>Ici tu peux choisir le paramétrage de ta playlist</h1>

    {{ form(form) }}

{% endblock %}