{% extends 'base.html.twig' %}

{% block title %}Hello SpotifyController!{% endblock %}

{% block body %}

    <h1>Votre playlist a été générée:</h1>

        <h2>{{ playlist.name }}</h2>

        <article>
            {% for item in playlist.tracks.items %}
                <ul>
                    {{ item.track.name }}
                </ul>
            {% endfor %}
        </article>

{% endblock %}
